<!-- add this code after "{% include 'collection-swatch' %}" and save the file -->


<form method="post" action="/cart/add">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
  <input type="submit" value="Add to cart" class="btn" />
</form> 
